
<%= render @idea %>
<%= image_tag(@idea.picture_url, width: "20%") if @idea.picture.present? %>
<br>
<br>
<div>
  <%= link_to "Edit", edit_idea_path(@idea), :class => 'btn btn-secondary' %>
  <%= button_to "Destroy", @idea, :method => :delete, :class => 'btn btn-danger' %>
  <%= link_to "Back", ideas_path, :class => 'btn btn-primary'%>

</div>
